<h3>Hi <%= @user.email %>,</h3><br/>

You just requested a password reset.<br/>

Click <%= link_to "Reset password", password_reset_url(reset_token: @reset_token) %> to reset password.<br/>

Notice: The request is only available in 5 minutes!


