<h3><%= I18n.t("mails.reset.hi", user: @user.email) %></h3>

<%= I18n.t("mails.reset.announce", user: @user.email) %><br/>

<%= I18n.t("mails.reset.instruction", link: password_reset_url(reset_token: @reset_token)) %><br/>

<%= I18n.t("mails.reset.notice") %>


